body{
    display: grid;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 50px;
    font-family: 'Poor Story', cursive;
}
.wrapper{
    background-color: rgb(190, 252, 231);
    height: 400px;
    padding: 50px 40px 50px 40px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
.score-container{
    background-color: aliceblue;
    margin-left: 0px;
    padding: 1px 10px 5px 50px;
}
.grid {
    width: 408px;
    height: 300px;
    /* border: solid black 1px; */
    padding: 5px;
}

img{
    margin: -3px 1px 1px 1px;
 
}

.notes {
    border: 1px solid black;
    width: 480px;
    padding: 10px;
    margin-top: 10px;
}